nav {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px var(--dark);
  padding: 3rem 4rem;
  z-index: 100;
  background-color: var(--light);
  position: fixed;
  top: 0;
  left: 0;
}
nav .logo-container {
  width: 30%;
  font-size: 1.8rem;
  font-weight: bold;
}
nav .menu-list {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
  color: var(--dark);
}

.divider {
  border: 1px solid var(--secondary);
  height: 1.5rem;
}
